name: Pipeline CI Node.js + Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del código
      uses: actions/checkout@v4

    - name: Configurar Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '18'

    - name: Instalar dependencias
      run: npm ci

    # NOTA: ESLint puede quejarse si no configuraste reglas para 'require'
    # Si falla, podemos borrar este bloque de lint temporalmente o ajustarlo.
    - name: Ejecutar Linter
      run: npm run lint --if-present

    - name: Ejecutar Tests de API
      run: npm run test

    # --- NUEVO PASO: BUILD DE DOCKER ---
    # Esto cumple el requisito "Integración Continua con Dockers"
    - name: Construir imagen Docker
      run: docker build . -t mi-api-pro:latest
